.topbar{

    display:flex;
    align-items:center;
    justify-content:flex-end;

    gap:18px;

}

.notification{

    width:68px;
    height:68px;

    border-radius:50%;

    background:rgba(18,18,18,.42);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.25s;

}

.notification:hover{

    transform:translateY(-2px);

}

.notification img{

    width:34px;

}

.profile-card{

    width:220px;
    height:68px;

    border-radius:40px;

    background:rgba(18,18,18,.42);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    display:flex;

    align-items:center;

    gap:14px;

    padding:0 20px;

}

.profile-img{

    width:34px;
    height:34px;

    object-fit:contain;

}

.profile-info h4{

    color:white;

    font-size:16px;

    font-weight:500;

}

.profile-info p{

    color:#8b8b8b;

    font-size:12px;

}